<div class="flex flex-wrap w-full justify-center my-12">


    <div class="w-full text-center">
        <input placeholder="Search Hero...."
            class=" w-1/2 px-3 py-2 bg-red-500 text-yellow-200 placeholder:text-yellow-100 placeholder:opacity-70 rounded"
            type="text" autocomplete="off" id="inputSearch" #inputSearch (input)="search(inputSearch.value)"
            (focus)="search(inputSearch.value)" (blur)="search('')">
    </div>

    <div class="block w-1/2 text-center ">
        <ul class=" absolute w-1/2 z-50 text-center">
            <a class="inline-block w-full text-center" *ngFor="let hero of heroesFound$ | async | slice:0:5"
                routerLink="/detail/{{hero.id}}">
                <li
                    class="inline-block w-full py-2    bg-red-500 text-yellow-200 hover:bg-yellow-200 hover:text-red-500">

                    {{hero.name}}

                </li>
            </a>
        </ul>
    </div>




</div>


