
<div>
<h1 class="text-white text-[7rem] font-bold text-center bg-red-600 ">MARVEL</h1>

<nav class="text-center lg:mt-10 ">
    
    <a class="inline-block w-1/2 text-xl text-white px-14 py-1 rounded" routerLink="heroes" [routerLinkActive]="['bg-red-600','text-yellow-200']"> Heroes</a>
    <a class="inline-block w-1/2 text-xl text-white px-14 py-1 rounded" routerLink="dashboard" [routerLinkActive]="['bg-red-600','text-yellow-200']">Dashboard</a>
    
</nav>


<!-- <button mat-button > Hola</button> -->



<!--
    muestra dentro componentes en base a las rutas definidas en el app-routing.module.ts
-->
<router-outlet></router-outlet>


<div class="mt-24">
    <footer class="w-full bg-black text-white text-center">
        <p>Practica Angular Por JMTG</p>
    </footer>
</div>
</div>